.button {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    background-color: #88FFD7;
    border: 2px solid #00648D;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin-top: 1%;
    margin-right: 0.5%;
}