.main {
    display: flex;
    justify-content: center;
    margin: 5.5% 0;
    font-family: 'Lobster', cursive;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88FFD7;
    border: 2px solid #00648D;
    border-radius: 15px;
    padding: 2.5% 10%;
}

form div {
    margin: 10% 0;
}

form div div {
    margin: 0% 0;
    margin-bottom: 5%;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submitBtn {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    background-color: #88FFD7;
    border: 2px solid #00648D;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    /* margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 50px; */
}