.main{
    display: flex;
    height: 100%;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #88FFD7;
    font-family: 'Lobster', cursive;
}